[submodule "interactive"]
path = interactive
url = https://github.com/JamesonRGrieve/AGInteractive.git
branch = main
[submodule "components/jrg/next-log"]
path = components/jrg/next-log
url = https://github.com/JamesonRGrieve/next-log.git
branch = main
[submodule "components/jrg/auth"]
path = components/jrg/auth
url = https://github.com/JamesonRGrieve/auth.git
branch = main
[submodule "components/jrg/appwrapper"]
path = components/jrg/appwrapper
url = https://github.com/JamesonRGrieve/appwrapper.git
branch = main
[submodule "components/jrg/dynamic-form"]
path = components/jrg/dynamic-form
url = https://github.com/JamesonRGrieve/dynamic-form.git
branch = main
[submodule "components/jrg/zod2gql"]
path = components/jrg/zod2gql
url = https://github.com/JamesonRGrieve/zod2gql.git
branch = main
